# Xcode
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside

# Build
.build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Carthage/Build/

# MacOS
.DS_Store